<!-- src/app/app.component.html -->
<main class="main">
  <div class="input-container">
    <h1>{{ title }}</h1>
    <label for="owner">Repository Owner: </label>
    <input id="owner" [(ngModel)]="owner" placeholder="Repository Owner" required>
    <label for="repo">Repository Name: </label>
    <input id="repo" [(ngModel)]="repo" placeholder="Repository Name" required>
    <button (click)="fetchRepositoryData()">Fetch Repository Data</button>
    <div id="svg"></div>
  </div>
</main>

<!-- src/app/app.component.html

<!DOCTYPE html>
<html lang="en">
  <main class="main">
    <div>
      <h1>{{ title }}</h1>
      <label for="owner">Repository Owner: </label>
      <input id="owner" [(ngModel)]="owner" placeholder="Repository Owner" required>
      <label for="repo">Repository Name: </label>
      <input id="repo" [(ngModel)]="repo" placeholder="Repository Name" required>
      <button (click)="fetchRepositoryData()">Fetch Repository Data</button>
    </div>
    <div id="tree-container"></div>
  </main>
</html> -->